*{
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 2.5em;
    font-size: 1em;
}
h1, h2, h3 {
    font-family: 'Josefin Slab', serif;
    font-size: 2em;
}

.text_bandeau {
    color: mediumseagreen;
    font-style: italic;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 25%;

}
.zero_dechet {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 1em;
    margin-top: 10px;
}
.zero_dechet :first-child {
    align-self: center;
}
.photo_logo {
    width: 25%;
    margin-left: 0;
}
.text_conseils{
    width: 75%;
    text-align: justify;
    padding: 5px;
}
.titre_un{
    padding: 0;
    margin-bottom: 10px;
    color: mediumseagreen;
}
.actions {
     display: flex;
     width: 100%;
     flex-direction: row-reverse;
     padding: 1em;
 }
.titre_trois {
    padding: 0;
    margin: 0;
}
.actions :first-child {
    align-self: center;
}
.photo_stop_pub {
    width: 25%;
    margin-right: 0;
}
.text_stop_pub {
    width: 75%;
    margin: 1em;
    text-align: justify;
    padding: 5px;

}
#bas_pailles {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 1em;
}
#bas_pailles :first-child {
    align-self: center;
}
.photo_bas_pailles{
    width: 25%;
    margin-left: 0;
}
.text_bas_pailles {
    width: 75%;
    margin: 1em;
    text-align: justify;
    padding: 5px;

}
.block_footer {
    display: flex;
}

@media screen and (min-width: 801px) and (max-width: 1199px)
{

}
@media screen and (max-width: 800px)
{
    body {
        margin: 0.8em;
        font-size: 0.8em;
    }
    h1, h2, h3 {
        font-size: 1.2em;
    }
    .text_bandeau {
        font-size: 1em;
        top: 10%;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .titre_un {
        margin-top: 40px;
    }
    .photo_logo{
        position: absolute;
        top: 25%;
        left: 5%;
    }
    .photo_logo img {
        position: relative;
        top:0;
        left: 0;
        width: 50px;
        height: auto;
    }
    .zero_dechet :first-child {
        align-self: baseline;
    }
    .zero_dechet {
        margin-top: 5px;
        padding: 0.5em;
    }
    .text_conseils {
        margin: 1.5em;
        width: 100%;
    }
