body {
    background-color: lightgreen;
  }
  
  .img_info{
  float:right;
  border-style: inset ;
  border-width: 10px;
  border-radius: 20px 10px 0 30px;
  width: 600px;
  height: 300px;
  }
  html{
   font-family: 'Poppins', sans-serif;
    }
  h1{
    font-style: italic;
  }
  .img_val{
    float:right;
  border-style: inset ;
  border-width: 10px;
  border-radius: 20px 10px 0 30px;
  width: 600px;
  height: 300px;
  }
  .img_mission{
    float:right;
  border-style: inset ;
  border-width: 10px;
  border-radius: 20px 10px 0 30px;
  width: 600px;
  height: 300px; 
  }
  .img_desc{
    float:right;
  border-style: inset ;
  border-width: 10px;
  border-radius: 20px 10px 0 30px;
  width: 600px;
  height: 300px;
  }