/* Navbar */
.block_navbar{
    background-color: grey;
    height: 50px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.link_img{
    position: relative;
    height: 60%;
    margin-left: 1.5em;
}
.logo{
    position: relative;
    height: 100%;
}

.nav_list{
    display: none;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    padding: 0;
}

.list{
    position: relative;
    text-decoration: none;
    color: white;
    margin: 2.8em;
}

.link_menu{
    position: relative;
    text-decoration: none;
    color: white;
}

.list_burger{
    margin: 2em 0;
}

.list::before,
.list--current::after,
.footer_link::before,
.footer_link--current::after,
.link_menu::before,
.link_menu--current::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
}

.list::before,
.footer_link::before,
.link_menu::before{
    opacity: 1;
    transform: scale(0, 1);
    transform-origin: top right;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-out;
}

.list:hover::before,
.footer_link:hover::before,
.link_menu:hover::before{
    opacity: 1;
    transform: scale(1);
    transform-origin: top left;
}

.list--current::after,
.footer_link--current::after,
.link_menu--current::after{
    opacity: 0.125;
}

/* Burger */
#burger{
    display: block;
    position: absolute;
    right: 1.5em;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#burger input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#burger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#burger span:first-child{
    transform-origin: 0 0;
}

#burger span:nth-last-child(2){
    transform-origin: 0 100%;
}

/* Bouton close */
#burger input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
}

#burger input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#burger input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
}
/* Menu ouvert */
#burger_list{
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -200px;
    padding: 0 50px;
    padding-top: 125px;
    background: grey;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0 0;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#burger input:checked ~ ul{
    transform: none;
}

/* Footer */
.block_footer{
    background-color: grey;
    margin-top: 20px;
}

.footer_link{
    position: relative;
    color: white;
    text-decoration: none;
    margin: 10px 0;
}

.column_footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.block_link{
    display: flex;
    flex-direction: column;
}

.twi{
    width: 36px;
    margin-left: 4px;
}

/* Responsive tablette */

@media screen and (min-width: 801px)
{
    .nav_list{
        display: flex;
    }

    #burger{
        display: none;
    }

    .column_footer{
        display: flex;
        flex-direction: row;
    }

    .block_link{
        padding: 10px 0;
    }

    .footer_link{
        margin: 0 5%;
    }
}


@media screen and (min-width: 1201px)
{
    p li
    {
        font-family: 'Poppins', sans-serif;
        font-size: 1.5em;
    }


    h2
    {
        font-family: font-family: 'Josefin Slab', serif;
        font-size: 3.5em;
    }

    h3
    {
        font-family: font-family: 'Josefin Slab', serif;
        font-size: 3em;
    }

    h4
    {
        font-family: font-family: 'Josefin Slab', serif;
        font-size: 2.5em;
    }

    body
    {
        margin: 2.5em;
    }

    .block_titre
    {
        display:flex;
        flex-direction: column;
        background-color: #98FB98;
    }

    .image_titre
    {
        width: 50%;
        height: auto;
        margin: auto;
    }

    .block_description
    {
        display:flex;
        flex-direction: column;
        background-color: #98FB98;
        margin-bottom: 40px;
    }


    .image_description
    {
        width: 50%;
        height: auto;
        margin: auto;
    }

    /* gestion du bloc action*/

    .block_action
    {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 40px;
        margin-bottom:50px;

    }

    .image_action
    {
        flex:1 1 auto;
        max-width: 50%;
    }

    .liste_action
    {
        flex:1 1 auto;
        max-width: 50%;
    }

    .liste_action li
    {
        display:list-item;
        list-style-image:url("ressource_images_projet_1/logo-abeille2.jpeg");
        list-style-position: inside;
    }

    /* gestion du bloc audit*/

    .block_audit
    {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 40px;
        margin-bottom: 50px;
    }


    .image_audit
    {
        flex:1 1 auto;
        max-width:50%;
        height: auto;
        padding-right: 20px;
    }

    .liste_audit
    {
        max-width: 50%;
    }

    .liste_audit li
    {
        display:list-item;
        list-style-image:url("ressource_images_projet_1/logo-abeille2.jpeg");
        list-style-position: inside;
    }

    /* gestion du bloc label*/

    .block_label
    {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .texte_label
    {
        flex:1 1 auto;
        flex-wrap: nowrap;
    }


    .liste_label li
    {
        display:list-item;
        list-style-image:url("ressource_images_projet_1/logo-abeille2.jpeg");
        list-style-position: inside;
    }

    /* gestion du bloc confort*/

    .block_confort
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 50px;

    }

    .image_confort
    {
        width:50%;
        margin-bottom: 40px;
    }

    .liste_confort li
    {
        display:list-item;
        list-style-image:url("ressource_images_projet_1/logo-abeille2.jpeg");
        list-style-position: inside;
    }

    /* bloc infos */

    .block_infos
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .image_infos
    {
        width: 25%;
    }

}

/* format tablette */


@media screen and (min-width: 801px) and (max-width: 1199px)
{
    p li
    {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
    }

    ul
    {
        padding-left: 0px;
    }
    h2
    {
        font-family: font-family: 'Josefin Slab', serif;
        font-size: 40px;
    }

    h3
    {
        font-family: font-family: 'Josefin Slab', serif;
        font-size: 33px;
    }

    h4
    {
        font-family: font-family: 'Josefin Slab', serif;
        font-size: 25px;
    }

    body
    {
        margin: 2.5em;
    }

    .block_titre
    {
        display:flex;
        flex-direction: column;
        background-color: #98FB98;
    }

    .image_titre
    {
        width: 50%;
        height: auto;
        margin: auto;
    }

    .block_description
    {
        display:flex;
        flex-direction: column;
        background-color: #98FB98;
        margin-bottom: 40px;
    }

    .image_description
    {
        width: 50%;
        height: auto;
        margin: auto;
    }

    /* gestion du bloc action tablette*/

    .block_action
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 40px;
        margin-top: 40px;

    }

    .image_action
    {
        flex:1 1 auto;
        max-width: 50%;
    }

    .liste_action
    {
        flex:1 1 auto;
    }

    .liste_action li
    {
        display:list-item;
        list-style-image:url("ressource_images_projet_1/logo-abeille2.jpeg");
        list-style-position: inside;
    }

    /* gestion du bloc audit tablette*/

    .block_audit
    {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 40px;
        margin-top: 40px;

    }

    .image_audit
    {
        max-width: 50%;
        flex:1 1 auto;
    }

    .liste_audit
    {
        flex:1 1 auto;
        padding-left: 0;
    }

    .liste_audit li
    {
        display:list-item;
        list-style-image:url("ressource_images_projet_1/logo-abeille2.jpeg");
        list-style-position: inside;
    }

    /* gestion du bloc label tablette*/

    .block_label
    {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .texte_label
    {
        flex:1 1 auto;
        flex-wrap: nowrap;
    }


    .liste_label li
    {
        display:list-item;
        list-style-image:url("ressource_images_projet_1/logo-abeille2.jpeg");
        list-style-position: inside;
    }

    /* gestion du bloc confort tablette*/

    .block_confort
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

    }

    .image_confort
    {
        max-width: 50%;
    }

    .liste_confort li
    {
        display:list-item;
        list-style-image:url("ressource_images_projet_1/logo-abeille2.jpeg");
        list-style-position: inside;
    }
}

/* format mobile */


@media screen and (min-width: 200px) and (max-width: 800px)
{
    p li
    {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
    }

    ul
    {
        padding-left: 0px;
    }



    h2
    {
        font-family: font-family: 'Josefin Slab', serif;
        font-size: 32px;
    }

    h3
    {
        font-family: font-family: 'Josefin Slab', serif;
        font-size: 30px;
    }

    h4
    {
        font-family: font-family: 'Josefin Slab', serif;
        font-size: 25px;
    }

    body
    {
        margin: 0.5em;
    }

    .block_titre
    {
        display:flex;
        flex-direction: column;
        background-color: #98FB98;
        align-items: center;
        max-width: 800px;
        flex-wrap: wrap;
    }

    .image_titre
    {
        width: 100%;
    }

    .block_description
    {
        display:flex;
        flex-direction: column;
        background-color: #98FB98;
    }

    .image_description
    {
        width: 75%;
        height: auto;
        margin: auto;
    }

    /* gestion du bloc action mobile*/

    .block_action
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;
        margin-top: 30px;

    }

    .image_action
    {
        width: auto;
        margin: auto;
    }

    .liste_action
    {
        flex:1 1 auto;
    }

    .liste_action li
    {
        display:list-item;
        list-style-image:url("ressource_images_projet_1/logo-abeille2.jpeg");
        list-style-position: inside;
    }

    /* gestion du bloc audit mobile*/

    .block_audit
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 30px;
        margin-top: 30px;

    }

    .image_audit
    {
       width: 100%;
       padding-left: 0;
       margin: 0;
    }

    }
    .texte_audit
    {
        margin: 0;
    }

    .liste_action li
    {
        display:list-item;
        list-style-image:url("ressource_images_projet_1/logo-abeille2.jpeg");
        list-style-position: inside;
    }

    /* gestion du bloc label mobile*/

    .block_label
    {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .texte_label
    {
        flex:1 1 auto;
        flex-wrap: nowrap;
    }


    .liste_label li
    {
        display:list-item;
        list-style-image:url("ressource_images_projet_1/logo-abeille2.jpeg");
        list-style-position: inside;
    }

    /* gestion du bloc confort mobile*/

    .block_confort
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 30px;

    }

    .image_confort
    {
        max-width:100%;

    }

    .liste_confort li
    {
        display:list-item;
        list-style-image:url("ressource_images_projet_1/logo-abeille2.jpeg");
        list-style-position: inside;
    }
}