*{
    box-sizing: border-box;
}
@media screen and (min-width: 1200px)
{
    @keyframes AutoSlide {
            0% {
                transform: translateX(0%); /*1ère image*/
            }
            8% {
                transform: translateX(0%); /*pause 1ère image*/
            }
            16% {
                transform: translateX(-850px);/*2iem image*/
            }
            24% {
                transform: translateX(-850px);/*pause 2iem image*/
            }
            32% {
                transform: translateX(-1700px);/*3iem image*/
            }
            40% {
                transform: translateX(-1700px);/*pause 3iem image*/
            }
            48% {
                transform: translateX(-2550px);/*4iem image*/
            }
            56% {
                transform: translateX(-2550px);/*pause 4iem image*/
            }
            64% {
                transform: translateX(-1700px);/*3iem image*/
            }
            72% {
                transform: translateX(-1700px);/*pause 3iem image*/
            }
            80% {
                transform: translateX(-850px);/*2iem image*/
            }
            88% {
                transform: translateX(-850px);/*pause 2iem image*/
            }

         100%    {
             transform: translateX(0);/*1er image*/
            }
    }
    .slideshow {
        max-width: 850px;
        height: 475px;
        margin: 0px auto;

        overflow: hidden;
    }
    .slideshow-Content li {
        width: 850px;
        float:left;
        height: auto;
    }

    .slideshow-Content {
        width: 400%;
        padding-left: 0px;
        font-size: 0px;
        animation-name: AutoSlide;
        animation-duration: 20s;
        animation-iteration-count: infinite;
    }

    .slideshow_mobile
    {
        width: 400px;
        height: auto;
        margin: 0px auto;
        overflow: hidden;
        display: none;
    }
}

@media screen and (min-width: 801px) and (max-width: 1199px)
{
    @keyframes AutoSlide {
        0% {
            transform: translateX(0px); /*1ère image*/
        }
        8% {
            transform: translateX(0px); /*pause 1ère image*/
        }
        16% {
            transform: translateX(-600px);/*2iem image*/
        }
        24% {
            transform: translateX(-600px);/*pause 2iem image*/
        }
        32% {
            transform: translateX(-1200px);/*3iem image*/
        }
        40% {
            transform: translateX(-1200px);/*pause 3iem image*/
        }
        48% {
            transform: translateX(-1800px);/*4iem image*/
        }
        56% {
            transform: translateX(-1800px);/*pause 4iem image*/
        }
        64% {
            transform: translateX(-1200px);/*3iem image*/
        }
        72% {
            transform: translateX(-1200px);/*pause 3iem image*/
        }
        80% {
            transform: translateX(-600px);/*2iem image*/
        }
        88% {
            transform: translateX(-600px);/*pause 2iem image*/
        }

        100% {
            transform: translateX(0);/*1er image*/
        }
    }
    .slideshow {
        max-width: 600px;
        max-height: auto;
        margin: 0px auto;
        overflow: hidden;
    }
    .slideshow-Content li {
        width: 600px;
        float:left;
        height: auto;
    }

    .slideshow-Content {
        width: 400%;
        font-size:0px;
        padding-left: 0px;
        animation-name: AutoSlide;
        animation-duration: 20s;
        animation-iteration-count: infinite;
    }

    .slideshow_mobile
    {
        width: 400px;
        height: auto;
        margin: 0px auto;
        overflow: hidden;
        display:none;
    }
}

@media screen and (min-width: 200px) and (max-width: 800px)
{
    @keyframes AutoSlide
    {
        0% {
            transform: translateX(0px); /*1ère image*/
        }
        100% {
            transform: translateX(0px); /*pause 1ère image*/
        }
    }

    .slideshow
    {
        width: 0;
        height: auto;
        margin: 0px auto;
        overflow: hidden;
        display: none;
    }
    .slideshow-Content li
    {
        width: 0;
        float:left;
        height: auto;
    }

    .slideshow-Content
    {
        width: 0;
        font-size:0px;
        padding-left: 0px;
        animation-name: AutoSlide_mobile;
        animation-duration: 20s;
        animation-iteration-count: infinite;
    }

    @keyframes AutoSlide_mobile
    {
        0% {
            transform: translateX(0px); /*1ère image*/
        }
        8% {
            transform: translateX(0px); /*pause 1ère image*/
        }
        16% {
            transform: translateX(-400px);/*2iem image*/
        }
        24% {
            transform: translateX(-400px);/*pause 2iem image*/
        }
        32% {
            transform: translateX(-800px);/*3iem image*/
        }
        40% {
            transform: translateX(-800px);/*pause 3iem image*/
        }
        48% {
            transform: translateX(-1200px);/*4iem image*/
        }
        56% {
            transform: translateX(-1200px);/*pause 4iem image*/
        }
        64% {
            transform: translateX(-800px);/*3iem image*/
        }
        72% {
            transform: translateX(-800px);/*pause 3iem image*/
        }
        80% {
            transform: translateX(-400px);/*3iem image*/
        }
        88% {
            transform: translateX(-400px);/*pause 3iem image*/
        }

        100% {
            transform: translateX(0);/*1er image*/
        }
    }
    .slideshow_mobile
    {
        width: 400px;
        height: auto;
        margin: 0px auto;
        overflow: hidden;
    }
    .slideshow_mobile-Content li
    {
        width: 400px;
        float:left;
        height: auto;
    }

    .slideshow_mobile-Content
    {
        width: 400%;
        font-size:0px;
        padding-left: 0px;
        animation-name: AutoSlide_mobile;
        animation-duration: 20s;
        animation-iteration-count: infinite;
    }
}